<body>

    <app-header></app-header>

    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">Producto detalle</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="index.html"><i class="lni lni-home"></i> Inicio</a></li>
                        <li><a href="index.html">Tienda</a></li>
                        <li>Producto detalle</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <section class="item-details section">
        <div class="container">
            <div class="top-area">
                <div class="row align-items-center">
                    <!-- align-items-center-->
                    <div class="col-lg-8 col-md-12 col-12">
                        <div class="product-images">
                            <main id="gallery">
                                <div class="main-img">
                                    <img src="assets/images/product-details/01.jpg" id="current" alt="#">
                                </div>
                                <div class="images">
                                    <img src="assets/images/product-details/01.jpg" class="img" alt="#">
                                    <img src="assets/images/product-details/02.jpg" class="img" alt="#">
                                    <img src="assets/images/product-details/03.jpg" class="img" alt="#">
                                    <img src="assets/images/product-details/04.jpg" class="img" alt="#">
                                    <img src="assets/images/product-details/05.jpg" class="img" alt="#">
                                </div>
                            </main>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12 col-12">
                        <div class="product-info">
                            <h2 class="title">Kk7 Pro Rc Drone Con Doble Cámara 4k 5g Wifi Gps Plegable</h2>
                            <span class="price-prev">$ 1.500.000</span>
                            <h2 class="price">$ 1.200.000<span>26% OFF</span></h2>
                            <span class="info-text">Envío Gratis no disponible en Bogotá y en Bucaramanga</span>
                            <hr>
                            <div class="col-lg-12 col-md-4 col-12">
                                <div class="medios-de-pago my-3">
                                    <a href="#" data-bs-toggle="modal" data-bs-target="#modal-info-pagos">Ver los medios
                                        de pago</a>
                                </div>
                            </div>
                            <div class="col-lg-5 col-md-4 col-12">
                                <div class="form-group quantity">
                                    <label>Stock Disponible</label>
                                    <input class="form-control" placeholder="20 Unidades" disabled>
                                </div>
                            </div>

                            <div class="col-lg-5 col-md-4 col-12">
                                <div class="form-group quantity">
                                    <label for="color">Cantidad</label>
                                    <select class="form-control">
                                        <option>1 Unidad</option>
                                        <option>2 Unidades</option>
                                        <option>3 Unidades</option>
                                        <option>4 Unidades</option>
                                        <option>5 Unidades</option>
                                    </select>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="align-items-end">
                                    <!--row -->
                                    <div class="col-lg-12 col-md-4 col-12">
                                        <div class="button cart-button my-2">
                                            <button class="btn" style="width: 100%;">Agregar al Carrito</button>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-4 col-12">
                                        <div class="pay-button">
                                            <button class="btn">Comprar ahora</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="bottom-content">
                                <div class="align-items-end">
                                    <div class="col-lg-12 col-md-4 col-12">
                                        <div class="my-2">
                                            <ul>
                                                <li><i class="lni lni-shield m-2"></i><a href="#">Compra Protegida,</a>
                                                    recibe el producto que esperabas o te devolvemos tu dinero.</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-lg-12 col-md-4 col-12">
                                        <div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="product-details-info">
                <div class="single-block">
                    <div class="row">
                        <div class="col-lg-6 col-12">
                            <div class="info-body custom-responsive-margin">
                                <h4>Detalles</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                                    incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
                                    exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
                                    irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat.</p>
                                <h4>Características</h4>
                                <ul class="features">
                                    <li>Capture videos 4K30 y fotos de 12MP</li>
                                    <li>Controlador estilo juego con pantalla táctil</li>
                                    <li>Ver la transmisión de la cámara en vivo</li>
                                    <li>Control total de HERO6 Black</li>
                                    <li>Utilice la aplicación para el funcionamiento de la cámara dedicada</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-6 col-12">
                            <div class="info-body">
                                <h4>Especificaciones</h4>
                                <ul class="normal-list">
                                    <li><span>Peso:</span> 35.5oz (1006g)</li>
                                    <li><span>Velocidad Máxima:</span> 35 mph (15 m/s)</li>
                                    <li><span>Máxima Distancia:</span> Up to 9,840ft (3,000m)</li>
                                    <li><span>Frecuencia de operación:</span> 2.4GHz</li>
                                    <li><span>Fabricante:</span> GoPro, Colombia</li>
                                </ul>
                                <h4>Lugar de la Tienda:</h4>
                                <ul class="normal-list">
                                    <li><span>Colombia:</span> Valledupar - Cesar</li>
                                    <li><span>Ubicación:</span> La nevada Casa 23 cra 21</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <!--Anteriormente estaban los comentarios-->
            </div>
        </div>
    </section>


    <!-- Modal medios de pagos -->
    <div class="modal fade" id="modal-info-pagos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Metodos de pagos</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <img src="assets/images/footer/credit-cards-footer.png" alt="">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Aceptar</button>
                </div>
            </div>
        </div>

    </div>


    <app-footer></app-footer>
</body>