<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel" style="font-family: cursive;">Seguro?</h5>
                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style=" font-family: cursive;">Selecciona "Cerrar Sesión" si deseas finalizar la
                sesión actual.</div>
            <div class="modal-footer">
                <button class="btn btn-secondary" type="button"
                    style="background: linear-gradient(180deg, gray, black); font-family: cursive; "
                    data-dismiss="modal">Cancelar</button>
                <a class="btn btn-primary"
                    style="background: linear-gradient(180deg, blue, black); font-family: cursive; "
                    (click)="onLogout()">Cerrar Sesión</a>
            </div>
        </div>
    </div>
</div>